<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>mclauncher</title>

    <meta name="viewpoint" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="container mt-6">
      <h1 class="title is-1 has-text-centered">TODO: change here</h1>

      <div id="error" style="display: none">
        <p class="subtitle is-3 has-text-centered has-text-danger">Error</p>
        <p></p>
      </div>

      <div id="server" class="mt-6" style="display: none">
        <p
          id="server-running"
          class="has-text-centered has-text-success is-size-2"
          style="display: none"
        >
          <span class="icon-text">
            <span class="icon">
              <i class="fa fa-check-circle"></i>
            </span>
            &nbsp;
            <span>Server is running</span>
          </span>
        </p>
        <p
          id="server-stopped"
          class="has-text-centered has-text-warning is-size-2"
          style="display: none"
        >
          <span class="icon-text">
            <span class="icon">
              <i class="fa fa-check-circle"></i>
            </span>
            &nbsp;
            <span>Server is not running</span>
          </span>
        </p>

        <div class="has-text-centered mt-5">
          <h3 class="is-size-3 has-text-grey">
            Players <span id="number-of-players"></span>
          </h3>
          <ul class="is-size-2" id="players"></ul>
        </div>

        <div class="mt-6 has-text-centered">
          <h3 class="is-size-3 has-text-grey">Server Administration</h3>
          <button id="start-button" class="button is-info mt-4" disabled>
            Start Server
          </button>
        </div>
      </div>

      <div id="loading" class="mt-6">
        <p class="subtitle is-3 has-text-centered">Loading...</p>
        <progress class="progress is-info"></progress>
      </div>
    </div>

    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-analytics.js";
      import {
        GoogleAuthProvider,
        browserSessionPersistence,
        getAuth,
        getRedirectResult,
        setPersistence,
        signInWithRedirect,
      } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js";

      // TODO: Add SDKs for Firebase products that you want to use
      // https://firebase.google.com/docs/web/setup#available-libraries

      // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const firebaseConfig = {
        apiKey: "AIzaSyBEjedGmJYY3aetyY6UrB4d92fN5XjmrXo",
        authDomain: "mclauncher-spark.firebaseapp.com",
        projectId: "mclauncher-spark",
        storageBucket: "mclauncher-spark.appspot.com",
        messagingSenderId: "1032541656466",
        appId: "1:1032541656466:web:12d1d84dbe8a4e7f739d4b",
        measurementId: "G-PR20LWY6DG",
      };

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);

      const auth = getAuth();

      (async () => {
        let user = auth.currentUser;

        try {
          const result = await getRedirectResult(auth);
          user = result.user;
        } catch (error) {
          console.error(
            `Error(getRedirectResult): ${error.code}: ${error.message}`
          );
        }

        if (!user) {
          try {
            await setPersistence(auth, browserSessionPersistence);
            const provider = new GoogleAuthProvider();
            return signInWithRedirect(auth, provider);
          } catch (error) {
            console.error(
              `Error(setPersistence): ${error.code}: ${error.message}`
            );
          }
        }

        const api = async (method, path) => {
          const response = await fetch(`/api/v1${path}`, {
            method,
            headers: {
              Authorization: `Bearer ${user.accessToken}`,
            },
          });
          return response;
        };

        const handleErrorResponse = async (name, response) => {
          let detail = "Sorry, something went wrong.";
          try {
            detail = (await response.json()).detail;
          } catch (e) {
            console.error(e);
          }
          const msg = `Failed api request (${name}): ${detail}`;
          console.error(msg);
          alert(msg);
          document.getElementById("loading").style.display = "none";
          document.getElementById("server").style.display = "none";
          document.getElementById("error").style.display = "block";
        };

        const getServerStatus = async (ignoreError = false) => {
          const response = await api("GET", "/server");

          if (response.ok) {
            const body = await response.json();

            if (body.running) {
              document.getElementById("server-running").style.display = "block";
              document.getElementById("server-stopped").style.display = "none";
            } else {
              document.getElementById("server-running").style.display = "none";
              document.getElementById("server-stopped").style.display = "block";
            }

            const players = document.getElementById("players");

            body.players.forEach((player) => {
              const playerElem = document.createElement("li");
              playerElem.innerText = player;
              players.append(playerElem);
            });

            document.getElementById(
              "number-of-players"
            ).innerHTML = `(${body.players.length})`;

            document.getElementById("server").style.display = "block";
            return body.running ? "running" : "stopped";
          } else {
            if (!ignoreError) {
              await handleErrorResponse("GET /api/v1/server", response);
            }
            return "error";
          }
        };

        document.getElementById("loading").style.display = "block";
        const status = await getServerStatus();
        document.getElementById("loading").style.display = "none";
        if (status !== "stopped") {
          // Server is already running or got any errors.
          return;
        }

        const sleep = (ms) => new Promise((resolve) => setTimeout(resolve, ms));
        const startServer = async () => {
          const button = document.getElementById("start-button");
          button.disabled = true;
          button.onclick = null;
          document.getElementById("loading").style.display = "block";
          const response = await api("POST", "/server/start");

          if (response.ok) {
            while (true) {
              const status = await getServerStatus(true);
              if (status === "running") {
                break;
              }
              await sleep(5000);
            }

            document.getElementById("loading").style.display = "none";
          } else {
            await handleErrorResponse("POST /api/v1/server/start", response);
          }
        };

        const button = document.getElementById("start-button");
        button.onclick = startServer;
        button.disabled = false;
      })();
    </script>
  </body>
</html>
