**/__pycache__

.devcontainer
.git
.github
.pytest_cache
.venv
.vscode
tests
tools

**/*.md
**/.gitignore
**/.envrc
**/*.credentials.json
**/*.log

.dockerignore
.firebaserc
.gitignore
Dockerfile
firebase.json
LICENSE
