name: Build and push container image

on:
  push:
    tags: ["v*.*.*"]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: docker/setup-buildx-action@v1
    - uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.CR_PAT }}
    - name: Remove v from tag name
      uses: actions/github-script@v6
      id: set-revision
      with:
        result-encoding: string
        script: return context.ref.substring(11)
    - uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: |
          ghcr.io/${{ github.repository }}:latest
          ghcr.io/${{ github.repository }}:${{ steps.set-revision.outputs.result }}